﻿<style>
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100pt;
        padding: 50px;
    }

        header .logo {
            height: 150px;
            position: absolute;
            left: 50px;
            top: 50px;
        }

        header .title {
            text-decoration: underline;
            font-size: 35px;
            margin-bottom: 0;
        }

        header .subTitle {
            font-size: 25px;
        }
</style>

<header>
    <img class="logo" src='https://www.unamur.be/eco/economie/cerpe/cahiers/newsletter/UNamurlogo/image_preview'>
    <p class="title">Fiche de Vacances Annuelles</p>
    <p class="subTitle">Exercice __Model.Year__ - Vacances __Model.Year1__</p>
</header>