﻿.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.red {
    color: red;
}

.title {
    border-bottom: 2px solid rgb(118,148,60);
    display: inline-block;
    font-size: 35px;
    margin-bottom: 25px;
}

.page1 {
    padding: 50px 50px 0 50px;
    font-size: 22px;
}

.page2 {
    padding: 50px 50px 0 50px;
    font-size: 25px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

table, tr, th, tr {
    margin: 0;
    padding: 0;
}

.bordered th, .bordered td {
    margin-bottom: 0;
    border: 1px solid black;
    border-spacing: 0;
    padding: 4px;
}

#info_user {
    font-size: 25px;
}

#info_conge {
    font-size: 20px;
    margin: auto;
    margin-top: 25px;
}

    #info_conge td:nth-child(2), #info_conge th:nth-child(2) {
        text-align: center;
        width: 350px;
    }

    #info_conge td:nth-child(1), #info_conge th:nth-child(1) {
        text-align: left;
        width: 300px;
    }

    #info_conge > thead, #info_conge > tfoot {
        background-color: rgb(214, 227, 188);
    }

#info_ask_vacancy > thead {
    background-color: rgb(214, 227, 188);
}

#info_ask_vacancy {
    width: 100%;
}

    #info_ask_vacancy tr, #info_ask_vacancy th {
        width: 25%;
        height: 50px;
        text-align: center;
    }
