﻿<style>
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0 20px;
    }
    footer>div {
        width: 33.333%;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: -20px;
    }
    .right {
        text-align: right;
    }
    .right img {
        height: 75px;
        width: auto;
    }
    h4 {
        font-size: 13px;
        margin-bottom: 3px;
    }
    p {
        margin: 0px;
        font-size: 11px
    }
</style>
<footer>
    <div>
        <h4>SERVICE DES RESSOURCES HUMAINES </h4>
        <p>Université de Namur, ASBL</p>
        <p>Siège social - Rue de Bruxelles 61, B-5000 Namur www.unamur.be</p>
    </div>
    <div class="center">
        <p>T. + 32 (0)81 72 40 40</p>
        <p>F. + 32 (0)81 72 40 48</p>
    </div>
    <div class="right">
        <img src="https://perso.unamur.be/lanciaux/logos/ressources-humaines/image"/>
    </div>
</footer>