﻿<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100pt;
    }
    header .logo {
        height: 75px;
        position: absolute;
        left: 25px;
        top: 25px;
    }
    header .title {
        text-decoration: underline;
        font-size: 20px;
    }
</style>

<header>
    <img class="logo" src='https://www.unamur.be/eco/economie/cerpe/cahiers/newsletter/UNamurlogo/image_preview'>
    <p class="title">Rapport Trimestriel</p>
</header>