﻿<main>
<table class='infos'>
    <tr>
        <td class='label'>Intitulé :</td>
        <td class='value'>@Model.Intitule</td>
    </tr>
    <tr>
        <td class='label'>Période :</td>
        <td class='value'>@($"T{Model.Quartile}") @Model.Year</td>
    </tr>
    <tr>

        <td class='label'>Responsable du compte :</td>
        <td class='value'>@Model.PersonInCharge</td>
    </tr>
</table>

<table class='table'>
    <tr class='headers'>
        <td class='col1'>Centre de coûts</td>
        <td class='col2'>Nom Complet</td>
        <td class='col3'>Libellé de Rubrique</td>
        <td class='col4'>@Model.Year@($"{Model.Quartile * 3 - 2:D2}")</td>
        <td class='col5'>@Model.Year@($"{Model.Quartile * 3 - 1:D2}")</td>
        <td class='col6'>@Model.Year@($"{Model.Quartile * 3:D2}")</td>
        <td class='col7'>Total général</td>
    </tr>
    @{bool flag1 = true;}
    @foreach (var person in Model.Persons)
    {
        @{bool flag2 = true;}
        @foreach (var section in person.Sections)
        {
        <tr>
            @if (flag1)
            {
                flag1 = false;
                <td class="col1 fixBorder" rowspan="@(Model.Persons.Count() + Model.Persons.Sum(x => x.Sections.Count()))">@Model.CostCenter</td>
            }
            @if (flag2)
            {
                flag2 = false;
                <td class="col2" rowspan="@(person.Sections.Count())">@person.FullName</td>
            }
            <td class='col3 noBorder'>@section.Description</td>
            <td class='col4 noBorder'>@($"{section.Period1Amount:F2}")</td>
            <td class='col5 noBorder'>@($"{section.Period2Amount:F2}")</td>
            <td class='col6 noBorder'>@($"{section.Period3Amount:F2}")</td>
            <td class='col7 noBorder'>@($"{section.TotalSection:F2}")</td>
        </tr>
        }
        <tr class='personSubTotal'>
            <td class='col2' colspan='2'>Total @person.FullName</td>
            <td class='col4'>@($"{person.Sections.Sum(x => x.Period1Amount):F2}")</td>
            <td class='col5'>@($"{person.Sections.Sum(x => x.Period2Amount):F2}")</td>
            <td class='col6'>@($"{person.Sections.Sum(x => x.Period3Amount):F2}")</td>
            <td class='col7'>@($"{person.TotalPerson:F2}")</td>
        </tr>
        }
        <tr class='total'>
            <td class='col1' colspan='3'>Total @Model.CostCenter</td>
            <td class='col4'>@($"{Model.Persons.Sum(x => x.Sections.Sum(y => y.Period1Amount)):F2}")</td>
            <td class='col5'>@($"{Model.Persons.Sum(x => x.Sections.Sum(y => y.Period2Amount)):F2}")</td>
            <td class='col6'>@($"{Model.Persons.Sum(x => x.Sections.Sum(y => y.Period3Amount)):F2}")</td>
            <td class='col7'>@($"{Model.Total:F2}")</td>
        </tr>
    </table>
</main>