﻿* {
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: auto;
}

main .infos {
    display: flex;
    border: none;
    font-size: 13px;
}

body {
    font-family: Arial;
}

main .infos .label {
    text-decoration: underline;
}

main .infos .value {
    font-weight: bolder;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table .headers {
    background-color: rgb(196,214,154);
    font-weight: bold;
}

.table td {
    border: 1px solid black;
    font-size: 12px;
    vertical-align: top;
}

/*#region Workaround to fix border rowspan bug  */
.table .fixBorder::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid black;
}

.fixBorder {
    position: relative;
}
/*#endregion */

.col1 {
    width: 150px;
    padding: 0 2px;
}

.col2 {
    width: 200px;
    padding: 0 2px;
}

.col3 {
    width: 200px;
    padding: 0 2px;
}

.col4 {
    width: 58px;
    padding: 0 2px;
    border-right: none !important;
}

.col5 {
    width: 58px;
    padding: 0 2px;
    border-left: none !important;
    border-right: none !important;
}

.col6 {
    width: 58px;
    padding: 0 2px;
    border-left: none !important;
}

.col7 {
    width: 80px;
    padding: 0 2px;
}

.noBorder {
    border-top: none !important;
    border-bottom: none !important;
}


.personSubTotal {
    background-color: rgb(236,240,223);
}


.total {
    background-color: rgb(196,214,154);
    font-weight: bold;
}

